<h2>Create Company</h2>
 <div class="form_wrapper">
    <form method="post" action="/companies" enctype="multipart/form-data" id="new_company">
      <fieldset>
            <div class="form-group">
            <label for="post_title">Name* :</label>
              
              <div class="contactForm_td2">
                <input name="company[name]" type="text" class="form-control" id="company[name]" value="<%= @company.name %>">
              </div>
            </div>
             <div class="form-group">
              <label for="post_title">Address* :</label>
              
              <div class="contactForm_td2">
                <input name="company[address]" type="text" class="form-control" value="<%= @company.address %>">
              </div>
            </div>
             <div class="form-group">
              <label for="post_title">City* :</label>
              
              <div class="contactForm_td2">
                <input name="company[city]" type="text" class="form-control" value="<%= @company.city %>">
              </div>
            </div>
             <div class="form-group">
              <label for="post_title">Country* :</label>
              
              <div class="contactForm_td2">
                <input name="company[country]" type="text" class="form-control" value="<%= @company.country %>">
              </div>
            </div>
            <div class="form-group">
              <label for="post_title">Email :</label>
              
              <div class="contactForm_td2">
                <input name="company[email]" type="text" class="form-control" value="<%= @company.email %>">
              </div>
            </div> 
             <div class="form-group">
              <label for="post_title">Phone No. :</label>
              
              <div class="contactForm_td2">
                <input name="company[phone_number]" type="text" class="form-control" value="<%= @company.phone_number %>">
              </div>
             </div>  
            </div>
             <div class="form-group">
              <label for="post_title">Passport File :</label>
              
              <div class="contactForm_td2">
                <input name="passport" type="file" class="form-control" value="<%= @company.passport %>">
              </div>
            </div>
            <div class="form-group">
            
              
              <div class="contactForm_td2">
                <button class="btn btn-success" type="submit">Submit</button>
              </div>
            </div>
          </div>
        </fieldset>
      <div class="form-button" ><div>

    </form>
  </div>

</div>