<table>
  <tbody>
    <tr>
    	<th>Name</th>
      <td><%= @company.name %></td>
    </tr>
    <tr>
     	<th>Address</th>
      <td><%= @company.address %></td>
    </tr>
    <tr>
     	<th>City</th>
      <td><%= @company.city %></td>
    </tr>
    <tr>
     	<th>Country</th>
      <td><%= @company.country %></td>
    </tr>
    <tr>
     	<th>Country</th>
      <td><%= @company.email %></td>
    </tr>
    <tr>
     	<th>Country</th>
      <td><%= @company.phone_number %></td>
    </tr>
    <tr>
     	<th>Passport</th>
      <td><%=link_to '/download_file/'+@company.passport ,@company.passport %></td>
    </tr>
    <tr>
    	<td colspan="2">
      	<%=link_to '/', 'home'  %>
      </td>
    </tr>
  </tbody>
</table>